ansible==2.8.2
asn1crypto==0.24.0
beautifulsoup4==4.8.0
boddle==0.2.8
bottle==0.12.17
cffi==1.12.3
cryptography==2.7
gunicorn==19.9.0
Jinja2==2.10.1
MarkupSafe==1.1.1
pycparser==2.19
python-dotenv==0.10.3
PyYAML==5.1.1
six==1.12.0
soupsieve==1.9.2
waitress==1.4.0
WebOb==1.8.5
WebTest==2.0.33
